{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [ "react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],

  "rules": {
    "no-unused-vars": "off",
    "no-console": "error",
    "react/prop-types": "off",
    "react/jsx-uses-react": "error",   
     "react/jsx-uses-vars": "error" ,
     "prefer-const": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-inferrable-types": "off"
    
  }
}
