.text-description{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
 
}
.text-name{
overflow: hidden;
white-space: nowrap; 
text-overflow: ellipsis;
}
